app = "bunny-invites-api"
primary_region = "iad"

[http_service]
auto_start_machines = false
auto_stop_machines = false
force_https = true
internal_port = 8080
min_machines_running = 1
processes = ["app"]

[env]
NODE_ENV = "production"
CORS_ORIGIN = "https://bunny-invites.onrender.com"

[[vm]]
size = "shared-cpu-4x"
